.landing-container {
    background-image: url("https://wallpapercave.com/wp/3wPVPxQ.jpg");
    display: flex;
    height: 100vh;
}

.landing-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: top;
    margin-left: 20px;
    margin-top: 15px;
    
}

.page-title-content {
    color: #f68ECE;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.paragraph-content {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 42em;
}

.sign-in-btn {
    background-color: #00c8f8;
    border: 2px solid #00c8f8;
    color: white;
    padding: 10px;
    width: 160px;
    border-radius: 4px;
    cursor: pointer;
}

.sign-in-btn:hover {
    border: 2px solid #000000;
    opacity: 0.8;
}

.register-btn-landing {
    color: #00c8f8;
    text-decoration: none;
}

.Dont-have {
    color: white;
}

@media(max-width: 690px) {

    .landing-container {
        height: 100vh;
        background-color: white;
        width: 100vw;
        border: none
    }
    .page-title-content {
        font-size: 35px;
    }

    .paragraph-content {
        width: 22em;
    }

}